body {
    font-family: 'Noto Sans', sans-serif;
}

/* header */
.header {
    background: rgb(127, 190, 168);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}


.header_logo {
    height: 50px;
    vertical-align: top;
    margin: 20px;

}

.header_title {
    color: #433A34;
    font-size: 30px;
    display: inline-block;
    margin-top: 25px;
    font-family: 'Noto Sans', sans-serif;
}

.mobiletitle {
    display: none;
}


/* navbar */

.navbar {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-expand-lg {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

.menuitem {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
}

.menuitem:hover {
    background-color: #FFEAA9;
}

.menuitem:hover .menulink {
    color: #433A34;
}

.dropdown {
    visibility: hidden;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 10;
}

.dropdown {
    margin-left: -25px;
}

.eventdropdown {
    margin-left: -53px;
}

.menuitem:hover .dropdown {
    visibility: visible;
}

.dropdown-item {
    display: block;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
}

.dropdown-item:hover {
    background-color: #FFEAA9;
}

.dropdown-item:hover .menulink {
    color: #433A34;
    text-decoration: none;
}

/* route */
.route {
    margin: 0 auto;
    margin-top: 146px;
    padding-top: 5px;
    width: 80%;
    color: #707070;
}

.route a {
    color: #707070;
    text-decoration: none;
}

.route a:hover {
    text-decoration: underline;
}

/* 正文 */

.supporting {
    /* text-align: center; */
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
}

.sibling {
    height: 200px;
    width: 300px;
    display: inline-block;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

.newyear {
    height: 170px;
    width: 300px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.midautumn {
    height: 250px;
    width: 200px;
    display: inline-block;
    float: left;
    margin-right: 45px;
    margin-bottom: 20px;
}

.page {
    width: 80%;
    margin: 0 auto;
}

hr {
    width: 100%;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;

}


/* footer */

.footer {
    display: inline-block;
    background: rgb(76, 148, 123);
    width: 100%;
    padding-top: 45px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-about {
    display: inline-block;
    float: left;
    text-align: left;
}

.footer-event {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.about,
.eventfooter {
    list-style-type: none;
}

.footer-inner {
    width: 80%;
    margin: 0 auto;
}

.contact {
    display: inline-block;
    float: right;
    text-align: left;
}

.con {
    padding-left: 40px;
}

footer p {
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    .dropdown {
        margin-left: 65px;
        margin-top: -50px;
    }

    .eventdropdown {
        margin-top: -82px;
    }

}

@media only screen and (max-width: 767px) {
    .desktoptitle {
        display: none;
    }

    .mobiletitle {
        display: inline-block;
        text-align: left;
        font-size: 1.5em;
        margin-top: 18px;
    }

}

@media only screen and (max-width: 635px) {
    .footer-about {
        display: none;
    }

    .footer-event {
        display: none;
    }

    .header_logo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .midautumn {
        height: 335px;
        width: 285px;
    }
}

@media only screen and (max-width: 344px) {
    .mobiletitle {
        font-size: 1.3em;
    }

    .newyear {
        height: 140px;
        width: 250px;
    }

    .midautumn {
        height: 300px;
        width: 250px;
    }

    .sibling {
        height: 150px;
        width: 250px;
    }

}